<header>
    <h2>สวัสดี User</h2>
</header>

<section>
    <nav>

        <ul>
            <div class="inner-article">
                <li><a href="#">MANU1</a></li>
            </div>
        </ul>

    </nav>

    <article>
        <div class="inner-article">
            <h1>ข้อมูล1</h1>
        </div>
        <div class="inner-article">
            <h1>ข้อมูล2</h1>
        </div>
        <div class="inner-article">
            <h1>ข้อมูล3</h1>
        </div>
        <div class="inner-article">
            <h1>ข้อมูล4</h1>
        </div>
        <div class="inner-article">
            <h1>ข้อมูล5</h1>
        </div>
        <div class="inner-article">
            <h1>ข้อมูล6</h1>
        </div>
    </article>
</section>
