<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>

<body class="w3-padding-left">
    <div class="bg text-center">
        <div class="topnav">
            <div class="social-container">
            </div>
            <a class="active" href="#home">Home</a>
            <a href="/user">Dashboard</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <div class="login-container">
                <a href="login">login</a>
            </div>
        </div>
        <h1 class="w3-jumbo w3-animate-top" style="color: whitesmoke;">HOME PAGE</h1>
        <p class="w3-animate-top" style="color: whitesmoke;">COMING SOON</p>
    </div>

    <div id="about">
        <div class="w3-content" style="max-width:700px">
            <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THE WEBSITE</span></h5>
            <p>Welcome to our website, where we prioritize your security and privacy.</p>
            <p>Our platform is built with the latest technologies to ensure a safe and secure experience for our users.
            </p>
            <div class="w3-panel w3-leftbar w3-light-grey">
                <p><i>"Security is our top priority. We believe in using cutting-edge technologies to protect your
                        data."</i></p>
            </div>
            <p><strong>Explore our website:</strong> Discover the features and services we offer to enhance your online
                experience.</p>
            <p><strong>Security Measures:</strong> We implement industry-standard security measures, including the use
                of JSON Web Tokens (JWT), to safeguard your information.</p>
            <p><strong>Address:</strong> [Your Address]</p>
        </div>
    </div>
</body>

</html>