้้้<h3>Create Website</h3>

<input type="text" [(ngModel)]="webDetails.wname" placeholder="Website Name">
<input type="text" [(ngModel)]="webDetails.local" placeholder="Local">
<input type="text" [(ngModel)]="webDetails.status" placeholder="Status">
<input type="text" [(ngModel)]="webDetails.type" placeholder="type">
<textarea [(ngModel)]="webDetails.description" placeholder="Description"></textarea>
<input type="file" (change)="onFileSelected($event)" accept="image/*">
<button (click)="submitForm()">Submit</button>