/*COMMONS*/

.logo
{
  width: 250px;
}

hr{
  border-color: white !important;
}

nav
{
  margin-bottom:20px;
}

a.plain
{
  text-decoration: none  !important;
  color: inherit !important;
}

a
{
  cursor: pointer !important;
}

a.plain:hover
{
    color:inherit !important;
}

.white
{
  color: white;
}

hr.space
{
  visibility:hidden;
}

.title-description
{
  font-size: 50%;
}

.bg-dark-grey
{
  background-color:#343332;
}

.bg-body
{
  background: linear-gradient(to bottom right, #2f476b, #7c93a1);/*#172a55*/
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

/*COMMONS*/

.bg-news-cover
{
  background-color: #5c9ead !important;
}

.bg-news-cover:hover
{
  background-color: #4d8b99 !important;
}

.bg-news-cover-btn
{
  background-color: #8cb369 !important;
  color: white;
}

.bg-news-cover-btn:hover
{
  background-color: #70994d !important;
  color: white;
}