
<html lang="en">

<head>
  <title>Haberler/Makaleler</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>

<body class="bg-body">
    <!-- <nav class="navbar navbar-expand-sm bg-dark-grey white navbar-dark"> 
    <button [routerLink]="'/A'">Login</button>
  </nav>  -->
  <nav class="navbar navbar-expand-sm bg-dark-grey white navbar-dark justify-content-end">
    <button [routerLink]="'/A'" class="ml-auto">Login</button>
</nav>
  <div class="container">
    <h1 class="display-4 white align-content-center"><a href="#" class="plain">Haber ve Makaleler &bull; <p class="title-description d-sm-inline-block align-middle">En Son Oyun Haberleri</p></a></h1>
    <hr/>
    <hr class="space" />
    <div class="row my-4">
      <section class="card p-4 bg-news-cover">
        <div class="row ">
          <div class="col-sm-6">
            <img src="https://image.ibb.co/ixFhQq/cod-ww2.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-sm-6">
            <!-- <div class="card-body px-2">
              <h4 class="card-title white">Title about the main article</h4>
              <p class="card-text white">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte
                metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır.</p>
              <a href="#" class="btn bg-news-cover-btn float-right">Devamını Oku</a>
            </div> -->
          </div>
        </div>
      </section>
    </div>

    <div class="row my-2">

      <section class="card p-4 mr-sm-4 bg-news-cover col-sm">
        <img src="https://image.ibb.co/ixFhQq/cod-ww2.jpg" class="img-top img-fluid" alt="">
        <!-- <div class="card-body px-2">
          <h4 class="card-title white">Title about the article</h4>
          <p class="card-text white">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte...</p>
          <a href="#" class="btn bg-news-cover-btn float-right">Devamını Oku</a>
        </div> -->
      </section>

      <section class="card p-4 bg-news-cover col-sm">

        <img src="https://image.ibb.co/ixFhQq/cod-ww2.jpg" class="img-fluid" alt="">

        <!-- <div class="card-body px-2">
          <h4 class="card-title white">Title about the article</h4>
          <p class="card-text white">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte...</p>
          <a href="#" class="btn bg-news-cover-btn float-right">Devamını Oku</a>
        </div> -->

      </section>
    </div>

    <div class="row my-4">

      <section class="card p-4 mr-sm-4 bg-news-cover col-sm">
        <img src="https://image.ibb.co/bEi3gV/new2b.jpg" class="img-top img-fluid" alt="">
        <!-- <div class="card-body px-2">
          <h4 class="card-title white">Title of the article</h4>
          <p class="card-text white">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte...</p>
          <a href="#" class="btn bg-news-cover-btn float-right">Devamını Oku</a>
        </div> -->
      </section>
      <section class="card p-4 mr-sm-4 bg-news-cover col-sm">
        <img src="https://image.ibb.co/bEi3gV/new2b.jpg" class="img-top img-fluid" alt="">
        <!-- <div class="card-body px-2">
          <h4 class="card-title white">Title of the article</h4>
          <p class="card-text white">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte...</p>
          <a href="#" class="btn bg-news-cover-btn float-right">Devamını Oku</a>
        </div> -->
      </section>
      <section class="card p-4 bg-news-cover col-sm">
        <img src="https://image.ibb.co/bEi3gV/new2b.jpg" class="img-top img-fluid" alt="">
        <!-- <div class="card-body px-2">
          <h4 class="card-title white">Title of the article</h4>
          <p class="card-text white">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte...</p>
          <a href="#" class="btn bg-news-cover-btn float-right">Devamını Oku</a>
        </div> -->
      </section>

    </div>

    <div class="row justify-content-center my-4">
      <!-- <div class="col-sm-6">
        <a href="#" class="btn bg-news-cover-btn w-100">Daha Fazla Yükle</a>
      </div> -->
    </div>

  </div>
  
   <!-- MODAL -->
  <div class="modal" id="login">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- <div class="modal-header">
          <h4 class="modal-title">Giriş</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> -->

        <!-- Modal body -->
        <div class="modal-body">
          <form action="/action_page.php">
            <div class="container">
              <label for="name"><b>Kulanıcı Adı</b></label>
              <input type="text" placeholder="Kullanıcı Adı Gir" name="name" class="d-inline-block w-100" required>

              <label for="password"><b>Şifre</b></label>
              <input type="password" placeholder="Şifre Gir" name="password" class="d-inline-block w-100" required>

              <!-- <button type="submit" class="btn w-100 btn-success mt-2">Giriş</button> -->

            </div>

          </form>
        </div>

        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">Kapat</button>
        </div> -->

      </div>
    </div>
  </div>
  <!-- MODAL -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>

</html>
