<div class="card-container">
    <div class="card">
        <img src="../../../assets/images/products/s4.jpg">
        <div class="card-content">
            <h3>Card 1</h3>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat expedita, incidunt quis distinctio repudiandae esse eaque doloremque provident impedit sed adipisci error dolorem fugit veniam praesentium tenetur alias? Distinctio, obcaecati!</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/images/products/s7.jpg">
        <div class="card-content">
            <h3>Card 1</h3>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat expedita, incidunt quis distinctio repudiandae esse eaque doloremque provident impedit sed adipisci error dolorem fugit veniam praesentium tenetur alias? Distinctio, obcaecati!</p>
            <a href="" class="btn">Read More</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/images/products/s5.jpg">
        <div class="card-content">
            <h3>Card 1</h3>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat expedita, incidunt quis distinctio repudiandae esse eaque doloremque provident impedit sed adipisci error dolorem fugit veniam praesentium tenetur alias? Distinctio, obcaecati!</p>
            <a href="" class="btn">Read More</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/images/products/s4.jpg">
        <div class="card-content">
            <h3>Card 1</h3>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat expedita, incidunt quis distinctio repudiandae esse eaque doloremque provident impedit sed adipisci error dolorem fugit veniam praesentium tenetur alias? Distinctio, obcaecati!</p>
            <a href="" class="btn">Read More</a>
        </div>
    </div>
</div>
