<h4 style="font-weight: bold; font-size: 24px;">My Website</h4>

<section #swiperContainer class="swiper mySwiper">
  <div class="swiper-wrapper">

    <div class="card swiper-slide" *ngFor="let website of listWebsite">
      <div class="card__image">
        <img [src]="website.img" alt="card image">
      </div>
      <div class="card-content">
        <h3>{{ website.wname }}</h3>
        <p class="truncate">{{ website.description }}</p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>

  </div>
</section>

<h4 style="font-weight: bold; font-size: 24px;">Recommend</h4>
<div class="card-container">
  <tr *ngFor="let website of listWebsite">
    <div class="card">
      <img [src]="website.img">
      <div class="card-content">
        <h3>{{ website.wname }}</h3>
        <p class="truncate">{{ website.description }}</p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>
</div>