$mat-primary: (
  100: white,
  500: #5d87ff,
  700: #5d87ff,
  contrast: (
    100: white,
    500: white,
    700: white,
  ),
);
$mat-secondary: (
  100: white,
  500: #44b7f7,
  700: #5d87ff,
  contrast: (
    100: white,
    500: white,
    700: white,
  ),
);

$mat-warn: (
  100: FDEDE8,
  500: #fa896b,
  700: #f3704d,
  contrast: (
    100: white,
    500: white,
    700: white,
  ),
);

$theme-primary: mat.define-palette($mat-primary, 500);
$theme-accent: mat.define-palette($mat-secondary, 500);
$theme-warn: mat.define-palette($mat-warn, 500);

$bluetheme: mat.define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
    ),
    typography:
      mat.define-typography-config(
        $font-family: "Plus Jakarta Sans",
        $subtitle-2: mat.define-typography-level(14px, 14px, 400),
        $subtitle-1: mat.define-typography-level(21px, 26px, 500),
        $headline-6: mat.define-typography-level(18px, 26px, 600),
        $headline-5: mat.define-typography-level(24px, 30px, 700),
        $button: mat.define-typography-level(14px, 14px, 400),
        $body-1: mat.define-typography-level(14px, 20px, 400),
        $body-2: mat.define-typography-level(16px, 22px, 400),
      ),
  )
);

.Dark_theme {

  .sidebar-list-admin {


    &.mdc-list {
      padding: 0 24px;

      .mdc-list-item__primary-text {
        color: $white;
      }
  
      .mat-mdc-list-item-icon {
        color: $white !important;
      }
      .mdc-list-group__subheader {
        margin: 12px 0;
        text-transform: uppercase;
        font-size: 0.85rem;
        font-weight: 700;
        margin-top: 24px;
        color: black ;
        background-color: #fc9b24;
        border-radius: 4px;
        padding: 8px;
      }

      .menu-list-item {
        border-radius: 7px;
        height: 45px;
        padding: 8px 10px !important;
        margin-bottom: 2px;
        background-color: rgb(77, 79, 79);

        &.twoline {
          height: 60px;
          align-items: center;
        }

        &:before,
        &:focus {
          z-index: -1;
        }

        &.activeMenu {
          background-color: rgb(237, 181, 84);
          .mdc-list-item__primary-text {
            color: black !important;
          }

          .mat-mdc-list-item-icon {
            color: black !important;
            margin-bottom: 15px !important;
          }

        }

        .mdc-list-item__start {
          margin-right: 14px;
          margin-left: 0 !important;
          width: 20px;
          height: 20px;
          fill: transparent !important;
          color: $textPrimary;
        }

        .mdc-list-item__primary-text {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      
    }
  }
  .sidebarNav{
    background-color: rgb(33, 33, 33);
  }
  .branding {
    background-color: rgb(77, 79, 79); // กำหนดพื้นหลังส่วนหัวเป็นสีดำ
  }

}

.bg-primary {
  background: mat.get-color-from-palette($theme-primary, 500) !important;
}
